@import 'https://fonts.googleapis.com/css?family=Roboto:400,500,700';

* {
  font-display: optional;
  font-family: Roboto, sans-serif;
}

.header .header-title:after {
  content: 'Discover and discuss high quality media online';
  letter-spacing: 0.142rem;
}

h1{
  text-align: center;
}

table{
  margin: 0 10%;
}

.data.progress{
  font-size: small;
}

.score-label::after{
  content: "mins";
}
.data.score a::before{
  content: "";
}